doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        header
            h1 Create or Update Movie
            a(href="/") Home
        .form-wrapper 
            form(action="/updates" method="post")
                label(for="name") Name:
                input(type="text" name="name" id="name" required)
                br
                label(for="synopsis") Synopsis:
                input(type="text" name="synopsis" id="synopsis" required)
                br
                label(for="year") Year:
                input(type="number" name="year" id="year" required)
                br
                label(for="length") Length:
                input(type="text" name="length" id="length" required)
                br
                label(for="genre") Genre:
                select(name="genre" id="genre" required)
                    option(value="Action") Action
                    option(value="Adventure") Adventure
                    option(value="Anime") Anime
                    option(value="Comedy") Comedy
                    option(value="Crime") Crime
                    option(value="Documentary") Documentary
                    option(value="Drama") Drama
                    option(value="Family") Family
                    option(value="Fantasy") Fantasy
                    option(value="Horror") Horror
                    option(value="Lifestyle") Lifestyle
                    option(value="Music") Music
                    option(value="Mystery") Mystery
                    option(value="Romance") Romance
                    option(value="Sci-Fi") Sci-Fi
                    option(value="Seasonal") Seasonal
                    option(value="Sport") Sport
                    option(value="Thriller") Thriller
                    option(value="Western") Western
                br
                button(type="submit") Submit