/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/

body, * {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem
}

.cards {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 1.5rem;
}

.card {
    flex-basis: calc(33.3% - 1rem);
    padding: 1.5rem;
    box-sizing: border-box;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

.card__name {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0 .5rem 0;
}

.card__meta {
    font-size: 1rem;
    font-weight: bold;
    padding: 0 0 .5rem 0;
}

.form-wrapper {
    font-size: 18px;
    max-width: 300px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

label, input, select {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"],
input[type="number"] {
    padding: .5rem;
    width: 100%;
    box-sizing: border-box;
}
select {
    padding: .5rem;
    width: 100%;
}

button[type="submit"] {
    background-color: lightgrey;
    border: none;
    padding: .375rem 1rem;
    margin-top: 10px;
    padding: .5rem;
    cursor: pointer;
}